.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;


        &-right {
            position: fixed;
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            right: -50vw;
            transition: right .7s cubic-bezier(1, 0, 0, 1);

            @include for-phone-only {
                visibility: hidden;
            }

            .right-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color: #000000, $alpha: .4);
                opacity: .7;
                border-radius: 15px;
            }


            .right-img-1 {
                top: 15%;
                left: 15%;


            }

            .right-img-2 {
                top: 35%;
                left: 25%;
            }

            .right-img-3 {
                top: 55%;
                left: 35%;
            }

        }

        &-left {
            position: fixed;
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            left: -50vw;
            @include flexLayout;
            transition: left .7s cubic-bezier(1, 0, 0, 1);

            @include for-phone-only {

                left: -100vw;
                width: 100vw;
                height: 100vh;
            }
        }

        .nav-list {


            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-nunito;
                font-size: 30px;
                @include textStyles;
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                @include for-phone-only {
                    font-size: 20px;
                    margin: 15px;
                }

                &:hover {
                    color: saddlebrown;
                    letter-spacing: 4px;
                }

            }
        }
    }
}

.checkbox:checked~.navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked~.navbar-navigation .navbar-navigation-right {
    right: 0;
}


.checkbox:checked~.hamburger-menu .menu {
    transform: rotateZ(90deg);

}

.checkbox:checked~.hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);

}

.checkbox:checked~.hamburger-menu .menu-line-2 {
    opacity: 0;

}

.checkbox:checked~.hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);

}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(../images/bg.jpeg) center no-repeat;
    background-size: cover;



    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        text-align: center;
        @include centering(50%);

    }
}


.about-us {
    display: flex;
    height: 100vh;
    align-items: center;
    align-content: center;
    margin-bottom: 110px;
    margin-top: 15px;


    @include for-phone-only {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 0;
    }

    @include for-tablet-port {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    @include phone-land {
        display: flex;
        flex-direction: row;
        margin-bottom: 110px;
        margin-top: 40px;

    }





    &-left {
        width: 30%;

        @include for-phone-only {
            visibility: hidden;

        }

        @include phone-land {
            visibility: visible;


        }

        img {
            opacity: 0.6;
            margin-top: 50%;

        }




    }

    &-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 80px;

        @include for-phone-only {
            width: 100%;
            padding: 0 10px;

        }

        @include for-tablet-port {
            padding: 0 10px;
        }

        @include phone-land {
            padding: 0 10px;

        }

        .main-heading {
            font-size: 60px;
            margin-bottom: 20px;

            @include for-phone-only {
                font-size: 40px;
                margin-bottom: 10px;


            }

            @include phone-land {
                font-size: 40px;



            }


            @include for-tablet-port {
                font-size: 50px;

            }



        }

        .sub-heading {
            font-size: 40px;
            margin-bottom: 20px;

            @include for-phone-only {
                font-size: 20px;
                margin-bottom: 5px;

            }

            @include for-tablet-port {
                font-size: 30px;
                margin-bottom: 10px;

            }

            @include phone-land {
                font-size: 20px;


            }



        }

        .stars {
            margin: 30px 0;


        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;

            @include for-phone-only {
                font-size: 10px;

            }

            @include phone-land {
                font-size: 10px;

            }

        }

        .description {
            font-family: $font-josefinSans;
            font-size: 20px;
            color: $color-secondary;
            text-align: justify;

            @include for-phone-only {
                font-size: .85em;

            }

            @include phone-land {
                font-size: .85em;

            }

        }

    }


}

.gallery {


    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    @include flexLayout;
    flex-direction: row;
    padding: 40px 0;

    @include for-phone-only {
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .social-media {
        display: flex;
        width: 250px;
        justify-content: space-evenly;
        margin-bottom: 50px;

        @include for-phone-only {
            width: 150px;
        }

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 30px;
            color: $color-secondary;
            transition: color .7s;


            &:hover {
                color: $color-primary;
            }
        }
    }


}

.footer-copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .footer-copyright-paragraph {
        font-family: $font-nunito;
        font-size: 15px;
        color: $color-secondary;
        text-transform: capitalize;

        @include for-phone-only {
            font-size: 10px;
        }
    }
}